In [77]:
a = "sanju"

In [78]:
a

'sanju'

In [79]:
# Forward Indexing which starts from 0 and in the backward indexing it starts from -1
a[0]

's'

In [80]:
a[1]

'a'

In [81]:
# Backward Indexing
a[-1]

'u'

In [82]:
a[5]

IndexError: string index out of range

In [83]:
# End point is always silent and we need to add 1 and give the end point nuumber
a[0:2]

'sa'

In [85]:
a[0:1]

's'

In [86]:
k = "allu arujun"

In [87]:
k

'allu arujun'

In [88]:
k[5:11]

'arujun'

In [89]:
k[5:]

'arujun'

In [90]:
k[11:8 :-1]

'nu'

In [91]:
u = "kavya"

In [92]:
u[0:3]

'kav'

This 2 is called as jumpsize which means it will go through from 0 to 3 and make a jump of 2

0 + 2 = 2 ,
2 + 2 = 4

In [93]:
u[0:3:2]

'kv'

In [94]:
u

'kavya'

In [95]:
u[5:2:-1]

'ay'

In [96]:
u[5::-1]

'ayvak'

In [97]:
# Reverse of a number
u[::-1]

'ayvak'

In [98]:
s1 = "python telugu"

In [99]:
s1

'python telugu'

In [100]:
s1[0:6]

'python'

In [101]:
s1[7:]

'telugu'

In [102]:
s1[::2]

'pto euu'

In [103]:
s1[::3]

'ph lu'

In [104]:
s1[::-1]

'ugulet nohtyp'

In [105]:
s1[-15:-4]

'python te'

In [106]:
s1[7:] + " " +  s1[:6] #Concatination of two strings

'telugu python'

In [107]:
k = [1,2,4,5, "sanju", "varsha", "starts by 9:45 PM ", True]

In [108]:
k[2]

4

In [109]:
k[5:8]

['varsha', 'starts by 9:45 PM ', True]

In [110]:
k[5][3:] # Extracting a slice of the string from an list data

'sha'

In [111]:
type(k[6])

str

In [112]:
k[6][::-1]

' MP 54:9 yb strats'

In [113]:
p = [ "sanju", [1,2,3,4], ["sanju", "varsha", "amma"]]

In [114]:
p

['sanju', [1, 2, 3, 4], ['sanju', 'varsha', 'amma']]

In [115]:
p[2]

['sanju', 'varsha', 'amma']

In [116]:
type(p[2])

list

In [117]:
p[2][1]

'varsha'

In [118]:
p[2][1][::-1]

'ahsrav'

In [125]:
t = (1,8,3, "sanju", ["sanju", "manyam", "varsha"])

In [126]:
t

(1, 8, 3, 'sanju', ['sanju', 'manyam', 'varsha'])

In [127]:
t[-1]

['sanju', 'manyam', 'varsha']

In [128]:
t[0]

1

In [129]:
t1 = (1,5,6569)

In [130]:
l2 = [ "sanju", "varsha", "amma"]

In [131]:
l2[0] = "jyothi"

In [132]:
l2

['jyothi', 'varsha', 'amma']

In [133]:
t1[0] = "jyothi"

TypeError: 'tuple' object does not support item assignment

In [134]:
s = "sanju"

In [135]:
s

'sanju'

In [136]:
s[0] = "l"

TypeError: 'str' object does not support item assignment

Assignment Solving

In [137]:
s = "sudhanshu"

In [177]:
l = [4,5,6,7,88,98,9,0,0,0]

In [139]:
len(l)

10

In [143]:
l[::4]

[4, 88, 0]

In [144]:
l[::-1]

[0, 0, 0, 9, 98, 88, 7, 6, 5, 4]

In [145]:
l[::2]

[4, 6, 88, 9, 0]

In [146]:
l[1] = "sanju"

In [147]:
l[3] = "vani"

In [148]:
l

[4, 'sanju', 6, 'vani', 88, 98, 9, 0, 0, 0]

In [150]:
l[7:]

[0, 0, 0]

In [164]:
l[:4] + l[5:]

[4, 5, 6, 7, 98, 9, 0, 0, 0]

In [153]:
l

[4, 5, 6, 7, 88, 98, 9, 0, 0, 0]

In [171]:
l1 = l[1::2]

In [172]:
l1

[5, 7, 98, 0, 0]

In [173]:
l1 + l

[5, 7, 98, 0, 0, 4, 5, 6, 7, 88, 98, 9, 0, 0, 0]

In [174]:
l[0:5] = l1

In [175]:
l

[5, 7, 98, 0, 0, 98, 9, 0, 0, 0]

In [181]:
# How to split a list without slicing